body {
    /* 왜 이걸 relative로 설정하면 이상하게 되지??!! */
    background-image: url('https://images.unsplash.com/photo-1587947910798-fb4e9a0452cc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80');
    background-repeat : no-repeat;
    background-size : cover;
}
.box {
    position:absolute;
    top:50%;
    left:50%;
    margin:-150px 0 0 -225px;
    border-radius:15px;
    align-items:center;
    justify-self: center;
    width: 450px;
    height: 300px;
    background-color: rgba(220,20,60,0.2);
    display: flex;
}
.form {
    text-align:center;
    /* vertical-align: middle; 얜 왜 또 안되고 */
    width:inherit;
    margin:0 auto;
}
.form span {
    font-style:italic;
    font-weight: 600;
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif;
    color:white;
    width:100px;
    display: inline-block;
    white-space:pre;
    text-align:right;
}
.btn {
    font-style:italic;
    font-weight:600;
    font-size: 26px;
    color:crimson;
    border:0;
    background-color:rgba(0,0,0,0);
}
form {
    margin:0 auto;
}
