<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/list.css}">
    <script th:src="@{/js/list.js}"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@400&display=swap" rel="stylesheet">
    <style type="text/css">
        a {
            color: white;
            text-decoration: none
        }
    </style>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
<div class="header">
    <div class="search">
        <i class="material-icons">search</i>
        <input type="text">
        <button>GO!</button>
    </div>
</div>
<div class="side">
    <div class="inner">
            <span
                    style="margin:20px 0; font-family: Arial, Helvetica, sans-serif; font-style:italic; font-size:20px;">Board</span><br />
        <div class="mainmenu">
            <button>▶ 캘린더</button><br /><br />
            <div>
                <a onclick="this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none';"
                   href="javascript:void(0)" style="transition:1s;">
                    ▶ 공유 다이어리
                </a>
                <div style="DISPLAY: none;">
                    <ul>
                        <li>여름방학</li>
                        <li>가을학기</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 여기서부터 목록 -->
<div id="form" action="">
    <div id="selectMonth">
        <button class="leftBtn" onclick="leftClick();">◀</button>
        <div id="currentDate">
            <span id="year"></span>
            <span id="month"></span>
        </div>
        <!-- <input id="searchDate" type="date"> -->
        <button class="rightBtn" onclick="rightClick();">▶</button>

    </div>
    <div id="view">
        <button id="largeView"><i class="material-icons">check_box_outline_blank</i>
        </button>
        <button id="gridView"><i class="material-icons">grid_view</i></button>
        <button id="listView"><i class="material-icons">reorder</i></button>
    </div>
    <div class="post">
    <table id="list">
        <tbody>
            <tr th:each="post : ${postList}">
                <td><div id="postDate" th:text="${#dates.format(post.regDate,'yyyy-MM-dd')}"></div></td>
                <td><div><img class="uploadPhoto" src=""></div></td>
                <td><div class="title" th:text="${post.title}"></div></td>
                <td><div class="userinfo">
                    <div class="imageContainer">
                        <img class="userImage" src="">
                    </div>
                    <span class="userName" th:text="${post.name}"></span>
                </div></td>
            </tr>
        </tbody>
    </table>
    </div>
</div>
</body>
</html>